@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@400;500;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Work+Sans:wght@400;500&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Raleway', sans-serif;
}

body {
    height: 100%;
    min-height: 100vh;
    width: 100%;
    max-width: 100vw;
    display: flex;
    align-items: center;
    justify-content: center;
}

.container {
    width: 100%;
    max-width: 70vw;
    height: 100%;
    max-height: 600px;
    border-left: 2.5rem solid #00AEFF;
    padding: 3rem 4.75rem;
    background-image: url("./images/background.jpg");
    background-position: center;
    background-size: cover;
}

.heading {
    display: flex;
    align-items: flex-end;
    justify-content: space-between;
}

.logos {
    display: flex;
    align-items: center;
}

.logo {
    height: 1.5rem;
    width: auto;
    margin-right: 1.5rem;
}

.logoText {
    font-size: .8rem;
    font-weight: 400;
    color: #00000070;
}

.logoLink {
    text-decoration: none;
    font-size: 1.3125rem;
    font-weight: 600;
    color: #00000070;
}

.infos {
    margin-top: 1.5rem;
}

.title {
    font-family: 'Work Sans', sans-serif;
    font-size: 2rem;
    font-weight: 400;
    color: #000;
    margin-top: 4rem;
}

.name {
    font-family: 'Work Sans', sans-serif;
    font-size: 3rem;
    font-weight: 500;
}

.details {
    font-size: 1rem;
    font-weight: 400;
    color: #000;
    line-height: 1.5;
    max-width: 600px;
}

.status {
    font-size: 1.25rem;
    font-weight: 500;
    color: #00AEFF;
    margin-top: 1rem;
}

.footer {
    margin-top: 2rem;
}

.compLogo {
    width: 6rem;
    height: auto;
}

.markName {
    font-size: 1.25rem;
    font-weight: 500;
    font-family: "Work Sans" sans-serif;
    color: #000;
}

.position {
    font-size: .9rem;
    font-weight: 400;
    color: #000;
    margin-top: .6rem;
}

@media (max-width: 1000px) {
    .container {
        max-width: 100vw;
        max-height: 70vh;
        padding: 4rem 2rem;
        border-left: 1.5rem solid #00AEFF;
    }

    .heading {
        flex-direction: column;
        align-items: flex-start;
    }

    .logos {
        display: flex;
        justify-content: flex-start;
    }

    .logo {
        height: 1.3rem;
    }

    .logoText {
        margin-top: .8rem;
        font-size: 1rem;
    }

    .title {
        font-size: 1.3rem;
        margin-top: 2.5rem;
    }

    .infos {
        margin-top: 2rem;
    }

    .name {
        font-size: 3rem;
    }
    
    .details {
        font-size: .9rem;
        max-width: 500px;
    }
    
    .status {
        font-size: 1.2rem;
    }

    .footer {
        margin-top: 3.5rem;
    }

    .compLogo {
        width: 5rem;
        height: auto;
    }
    
    .markName {
        font-size: 1rem;
    }
    
    .position {
        font-size: .8rem;
    }
}

@media (max-width: 500px) {
    .container {
        max-height: 80vh;
    }
}